{% extends 'examples/_wrapper.html.twig' %}

{% block demo %}
<div id="client-monitor">
    <h3>Connected Clients ({{ clientCount }})</h3>
    <div class="client-grid">
        {{ clientsHtml | raw }}
    </div>
</div>
{% endblock %}
