{% extends 'examples/_wrapper.html.twig' %}

{% block demo %}
<p class="greeter-display">
    Greeting: <span class="text-brand font-bold" data-text="${{ greeting.id }}">{{ greeting.string }}</span>
</p>

<div class="flex gap-2 justify-center">
    <button data-on:click="@post('{{ greet_bob.url }}')">Greet Bob</button>
    <button class="secondary" data-on:click="@post('{{ greet_alice.url }}')">Greet Alice</button>
</div>
{% endblock %}
