{% extends 'examples/_wrapper.html.twig' %}

{% block demo %}
<p>Symbol <strong>{{ symbol }}</strong> does not exist.</p>
<a href="{{ basePath }}examples/stock-ticker" class="font-semibold">← Back to Dashboard</a>
{% endblock %}
