<div class="presence-indicator" id="presence">
    <span class="presence-dot"></span>
    <span data-text="'{{ count }} ' + ({{ count }} === 1 ? 'person' : 'people') + ' on this page right now'">{{ count }} {{ person }} on this page right now</span>
</div>
