{% extends "@via/templates/base.html.twig" %}
{% block title %}Stock Not Found{% endblock %}
{% block content %}
    <h1>Stock {{ symbol }} not found</h1>
    <a href="{{ basePath }}">Back to Dashboard</a>
{% endblock %}
